
body {
    background-color: #fafafa;
}

.table-container {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin-top:50px;
    border-collapse: collapse;
    background-color: #b9e7e4; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 2);
}

.table-container2 {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin-top:50px;
    background-color: #97b0c7; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 2);
}

.table-container-tracker {
    border-radius: 15px;
    margin-top:5%;
    margin-left:10%;
}

.table-container tr:first-child{
    height: 20px;
}

.table-container2 tr:first-child{
    height: 20px;
}

.table-container td{
    text-align: center; 
}

.table-container2 td{
    text-align: center;
}

.submit-btn{

    width: 140px;
    height: 40px;
    color:black;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 15px;
    border: 1px solid rgb(51, 50, 50);
    margin-top: 5px;

}

.Text-head{
    text-align: center;
    font-size: 100px;
}

.Text-input{
    width: 200px;
    height:20px;
    transition: transform .2s;
}

.combobox{
    margin-top:5px;
    width: 200px;
    height: 30px;
}

#record-table{
    width: 500px;
    height:70px;
    vertical-align: top;
    
}

#record-table th{
    font-size:20px;
    border: 1px solid rgb(51, 50, 50);
    padding:10px;
    background-color:aliceblue;
    border-radius: 10px;
    
}

#record-table td{
    font-size:13px;
    font-weight: normal;
    border: 1px solid rgb(51, 50, 50);
    padding: 8px;
    background-color:rgb(170, 212, 245);
    border-radius: 10px;
    
}

.Text-input:focus{
    background-color: rgb(184, 223, 166);
}

.submit-btn:hover{
    cursor: pointer;
    background-color: rgb(170, 101, 101);
}

   




