body{
    text-align: center;
    margin:0;
}
html{
    background-image: url('assets/background.jpg');
}
*{
    font-family: 'Spline Sans', sans-serif;
}
header{
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(120, 145, 221);
    padding: 5px;
    margin-bottom: 100px;
    height: 80px;
    font-size: 30px;
    font-family: 'Spline Sans', sans-serif;
    text-transform: uppercase;

}

nav{
    line-height: 80px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 30px;
}

nav a:hover{
    cursor: pointer;
}

nav .chosen{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: solid white;
    border-radius: 12px;
}
nav .not-chosen{
    padding: 5px 10px;
    border: transparent;
    transition: border .2s;
    border-radius: 12px;
}

nav .not-chosen:hover{
    border: solid white;
}


.project-types{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    left: 17%;
}

.html_btn{
    position: relative;
    bottom: 80px;
    height: 150px;
    flex: 0 0 500px;
    margin: 3em 5px;
}
