body{
    display: flex;
    flex-direction: column;
    background-color: #ECECEB;
    margin:0;

}
ul{
    text-align: center;
    display: block;
    width:45%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;  
}

.header{
    position: relative;
    background-color: black ;
    color: white;
    top: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Arial',sans-serif;
    height:5em;
}
.project-types{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    left: 17%;
}

