@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);

* {
margin: 0;
  padding: 0;
  box-sizing: border-box;

}

htm {
    font-size: 10px;
}

body {
    background: url(https://lh6.googleusercontent.com/proxy/qJ3nQvOwCXHsIdEi_LXACaBOK7dCd8YRojvGXR-1bZjfFfcZk8ohT95aLqhC9dW3GNAEy5X32I6L-UP4nFp9yj41BlnySQuEkGeaHlPjk1mn3hXhrStYwpe2yf7g3j8ik8G5fMBK_0rRa2iQvTqP0tk=s0-d);
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 11000px;
    margin: 0 auto;
    padding: 0 3rem;
    margin: 4rem;
    text-align: center;
}

h1{
    color: whitesmoke;
    font-size: 500;
    font-weight: 500;
    margin-top: 1rem;
    letter-spacing: normal;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    
}

img {
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    clip-path: circle();
}


p{
    color: black;
    font-size: large;
    font-style: italic;
    font-weight: 500;
    letter-spacing:1px;;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: pink;
    border-style: solid;
    
    
    }

    h2{
        color: whitesmoke;
    font-size: 500;
    font-weight: 500;
    margin-top: 1rem;
    letter-spacing: normal;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    }

    

    

    