body{
    background-image: linear-gradient(#F9DBE1,white);
}

.header{
    background-image: linear-gradient(#FD297B, orange);
    width: 250px;
    position: absolute;
}

.sidenav{
   
    background-image: linear-gradient(#F9DBE1,white);
    border-style: hidden;
    width: 250px;
    height: 700px;
    float: left;

}
.main{
    background-color: #FACDD6;
    margin-left: 200px;
   border-style:outset;
    width: 70%;
    height: 700px;
}

.selectt{
   background-image: linear-gradient(#F9DBE1,white);
    position: absolute;
    border-style: outset;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 350px;

}
.info{
    background-image: linear-gradient(#ebb6c1,rgb(240, 209, 209));
    position: relative;
    margin-top: 300px;
  
}
.pic{
    background-image: linear-gradient(#e9acb8,rgb(240, 206, 206));
    border-radius: 25px;
    position: absolute;
    height: 200px;
    margin: 75px;
   
}
.vals{
    width: 50px;
    height: 50px;
    border: 0px;
}
.mtable{
    border: 0px;
}
.yes {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    
  }

  .no {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF8886;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
  }

  .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
   
}

.gender {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.age {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.h1 {
    text-align: center;
}